# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Editor files =====
.vscode/
*.iml
.idea/

# ===== Backend (Java/Maven) =====
backend/target/
backend/src/main/resources/application.properties

# ===== Logs =====
*.log
